{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="">Login</div>
    <div class="">
        <p>Please enter your username and password</p>
        <form class="form-group" action="{{ url_for('auth.login') }}" method="post">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
            <input type="checkbox" value="checked"><b>Remember</b>
            <input type="submit" value="Login" class="form-control btn btn-success " name="">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p>No account <a href="{{ url_for('auth.register') }}">Register</a></p>
    </div>
</div>
{% endblock %}